@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #4F4F8B;
    color: #F3F3F3;
    line-height: 1.4;
}


h1{
    margin-top: 30px;
    font-size: 36px;
    letter-spacing: 1.3;
    text-align: center;
}
p{ 
    padding: 30px 30px;
    font-size: 22px;
    font-style: italic;
    text-align: center;

}
#survely-form{
   background-color: #2A2A4A;
   width: 550px;
   margin: auto;
   padding: 2rem;
   border-radius: 10px;
}
#survely-form .block{
    display: block;
    width: 95%;
    height: 2rem;
    cursor: pointer;
    border-radius: 5px;
    outline-color: blue;
}
input.btn{
    background-color: #37AF65;
    border-radius: 5px;
    border: none;
    width: 95%;
    padding: 0.75rem;
    cursor: pointer;

}

#survely-form textarea{
    width: 95%;
    outline: none;
}